{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic font-color: text-white" style="margin-left: 100px;margin-top: 40px ;" >Buscar Proveedores</h1>

<div class="row mt-3 justify-content-center ">
    <div class="card " style="width: 500px;background-color: azure;margin-top: 40px;margin-left: 100px;">
     <form method="get" style="margin-top: 20px;margin-left: 100px;margin-block-end: 155px;">
        <input type="text" placerholder = 'nombres' id = "kword" name="kword">
        <input type="button" value="Buscar"style="margin-top: 20px;">

            <h4 class="justify-text-center"style="margin-top: 20px">Lista de Proveedores</h4>

                <ul style="font-size: 20px;margin-block-end: 50px; margin-top: 20px;" >
   
                     {% for proveedor in proveedores  %}
                        <li>{{proveedor.nombre}},{{proveedor.rubro}}</li>
        
                     {% endfor %}
                </ul>
            
     </form>  
    </div>
 
</div>   
    
{% endblock content %}