{% extends 'base.html' %}


{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic font-color: text-white" style="margin-top: 20px">Alta de Proveedores</h1>


<div class="row mt-3 justify-content-center">
    <div class="card" style="width: 500px;background-color: azure;margin-top: 40px;">
        <form method="POST" enctype="multipart/form-data" style="margin-top: 50px;background-color: baige ;">{% csrf_token %} 
         {{form.as_p}}<!--as.p = acomoda un campo debajo de otro en el formulario-->
            <input type="submit" value="Alta" style="width: 180px; ;margin-left: 150px;margin-block-end: 50px;margin-top: 40px">

        </form>
    </div>
</div>

   
{% endblock content %}



