{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic" style="margin-top: 20px">Detalle del Proveedor</h1>

<div class="row mt-3 justify-content-center">
    <div class="card" style="width: 400px; background-color: azure; margin-top: 20px">
        <div class="card-body"> 
            <h2 class="text-center display-4 font-weight-bold font-italic">Datos</h2>

    {% if detalle.avatar %}
        <img src="{{detalle.avatar.url}}" >
    {% else %}
         <img src=" {% static 'img/usuario.jpeg' %} " style=" width: 100px; border-radius: 100%; margin-left: 120px; margin-bottom: 20px; margin-top: 20px;">
           
    {% endif %}


    <ul>
        <li>Id: {{detalle.identificador}}</li>
        <li>Nombre: {{detalle.nombre}}</li>
        <li>Rubro: {{detalle.rubro}}</li>
    </ul>
</form>
            
</div>
</div>
{% endblock content %}