{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center display-4 font-weight-bold font-color: text-white" style="margin-top: 40px">Detalle del Cliente</h2>

<div class="row mt-3 justify-content-center ">
    <div class="card" style="width: 400px; background-color: azure; margin-top: 80px;margin-block-end: 155px;">
        <div class="card-body"> 
            <h2 class="text-center display-4 font-weight-bold">Datos</h2>
    
    
    {% if detalle.avatar %}
    <img src="{{detalle.avatar.url}}" alt="">
    {% else %}
    <img src="{% static 'img/usuario.jpeg' %} " style=" width: 100px; border-radius: 100%; margin-left: 120px; margin-bottom: 20px; margin-top: 20px; ">
    {% endif %}


    <ul >
        <li>Apellidos: {{detalle.apellidos}}</li>
        <li>Nombres: {{detalle.nombres}}</li>
        <li>Nombre Completo: {{detalle.nombre_completo}}</li>
        <li>DNI: {{detalle.dni}}</li>
    
    </ul>
</form>
            
</div>
</div>
{% endblock content %}
    