
{% extends 'base.html' %}


{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic"style="margin-top: 20px">Modificar Cliente</h1>

<div class="row mt-3 justify-content-center">
    <div class="card" style="width: 500px;margin-top: 20px; background-color: azure;">
        <div class="card-body"> 
    <form method="POST">{% csrf_token %} 
        {{form.as_p}}
        
         <button class="row col-5 ml-4 justify-content-center "style="border-radius: 15%; width: 40%  ;margin-top: 30px; margin-left: 120px;"type="submit" value="Modificar" data-toggle="tooltip" data-placement="right" title="Modificar">Modificar</button>
    </form>
    </div>
</div>

    
{% endblock content %}


    