
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic"style="margin-top: 20px">Borrar Productos</h1>

<div class="alert alert-warning">
    <div clas="row m-7 justify-content-center align-items-center">
        <strong>¡Cuidado!</strong> 
        <br>
        Con esta opcion elegida borrara el producto de la lista

    </div>
</div>

<h3 class="text-center display-6" style="margin-top: 20px">¿Desea borrar este producto?</h3>

<div class="row mt-3 justify-content-center">
    <div class="card" style="width: 400px;background-color: azure; margin-top: 20px;">
        <div class="card-body"> 
    <form method="POST">{% csrf_token %}    <!-- Permite prevenir falsificaciónes de solicitudes entre sitios.-->
                <p>Id: {{delete.identificador}}</p>
                <p>Tipo: {{delete.tipo}}</p>
                <p>Marca: {{delete.marcaProd}}</p>
                <button class="btn btn-danger row col-10 ml-4"style="width: 40%  ;margin-top: 20px; margin-left: 100px;"type="submit" value="Borrar" data-toggle="tooltip" data-placement="right" title="Borrar">BORRAR</button>
    </form>
            
    </div>
</div> 
{% endblock content %}