{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic"style="margin-top: 20px;">Lista de Productos</h1>


<div class = "listaproductos"style="margin-top: 40px;">
     <h2><strong>Id</strong></h2>
     <h2><strong>Nombre</strong></h2>
     <h2><strong>Proveedor</strong></h2>
     <h2><strong>Marca</strong></h2>
     <h2><strong>Acciones</strong></h2>

     {% for producto in productos  %}
          <p>{{producto.identificador}}</p>
          <p>{{producto.nombre}}</p>
          

          {% for i in producto.marcaProd.all%}
            <p>{{i.marcaProd}}</p>
          {% endfor %}
          <p>{{producto.proveedor.nombre}}</p>
          
          
          <p>
             <a href="{% url 'producto_app:Detalle del Producto' producto.identificador%}">Ver-</a>
             <a href="{% url 'producto_app:Modificar Producto' producto.identificador%}">Modificar-</a>
             <a href="{% url 'producto_app:Baja de Producto' producto.identificador%}">Eliminar</a>

          </p> 
     {% endfor %}
</div>
<table class="table table-dark table-hover table-wrapper-scroll-y">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Proveedor</th>
                
              
            </tr>
        </thead>
<tbody>
            
            {% for producto in productos  %}

            <tr>
                <td>{{producto.identificador}}</td>
                <td>{{producto.nombre}}</td>

                {% for item in producto.marcaProd.all %}
                    <td>{{item.marcaProd}}</td>
                {% endfor %}
                    
                <td>{{producto.proveedor.nombre}}</td>
                
</tr>
            {% endfor %}
        
        </tbody>
        
        
  </table>

{% endblock content %}





