{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center display-4 font-weight-bold font-italic font-color: text-white"style="margin-top: 20px;">Lista de Productos</h1>



<div class = "listaproductos" style="margin-top: 40px;background-color: beige; ">
     <h2><strong>Id</strong></h2>
     <h2><strong>Nombre</strong></h2>
     <h2><strong>Marca</strong></h2>
     <h2><strong>Proveedor</strong></h2>
     <h2><strong>Acciones</strong></h2>

     {% for producto in productos  %}
          <p>{{producto.identificador}}</p>
          <p>{{producto.nombre}}</p>
          
          {% for i in producto.marcaProd.all%}
            <p>{{i.marca}}</p>
          {% endfor %}

          <p>{{producto.proveedor.nombre}}</p>
          <p>
             <a href="{% url 'producto_app:Detalle del Producto' producto.identificador%}">Ver-</a>
             <a href="{% url 'producto_app:Modificar Producto' producto.identificador%}">Modificar-</a>
             <a href="{% url 'producto_app:Baja de Producto' producto.identificador%}">Eliminar</a>
          </p> 
     {% endfor %}

</div>
{% endblock content %}

