body {
    background-color: black;

}
.listaclientes {
    display: grid;
    border: 1px solid pink;
    grid-template-columns: auto auto auto auto;
}
.listaproductos {
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto auto auto auto;
}
.listaproveedores {
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto auto;
}